<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LibraryDB" connectionString="Server=.;Database=LibraryDB;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="LMS.Properties.Settings.LibraryDBConnectionString"
      connectionString="Data Source=desktop-h72n4s7;Initial Catalog=LibraryDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>